@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,800;1,200;1,400;1,600;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
#learning{
    height: 200px;
}
#courses{
    height: 400px;
}
#about{
    height: 1200px;
}
#contectme{
    height: 200px;
}
.a{
    position: relative;
    max-width: 1400px;
    background-color: gainsboro;
    height: 620px;
    width: 5000px;
}

.nav{
    position: absolute;left:500px;
    padding: 35px 0px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: end;
}
nav{
    display:flex;
    flex-direction: row;
    text-decoration: none;
    align-items: end; 
}
.home-a{
    padding: 5px 20px;
    text-decoration: none;
    color:#000000;
    font-weight: 600;
}
.home-b{
    padding: 7px 20px;
    text-decoration: none;
    color:#ffffff;
    font-weight: 600;
    background-color: orange;
    border-radius: 10px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.4);
}
.home-a:hover{
    padding: 7px 20px;
    text-decoration: none;
    color:teal;
    font-weight: 600;
}
.home-b:hover{
    color: teal;
    background-color: gainsboro;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.4);
}
.c{
    position: absolute;
    padding: 30px 110px;
    font-weight: 700;
    font-size: 25px;
}
.span{
    color: teal;
}

.kkg{
    position:relative;
}
.grid{
    position: absolute;bottom:50px;
    display:grid;
    grid-template-columns: repeat(2,350px);
    grid-template-rows: repeat(1,313px);
    padding: 2px 200px;
    grid-gap:200px;
}
.heading{
    position: absolute;bottom:220px;
    margin-left: 100px;
    font-size: 35px;
    font-weight: 900;
}
.spa{
    color: teal;
}
.button{
    position: absolute;bottom: -60px;
    margin-left: -290px;
    font-size: 17px;
    text-decoration: none;
    color:white;
    background-color: orange;
    border-radius:10px;
    padding: 8px 16px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.4);
}
.button:hover{
    color: teal;
    background-color: gainsboro;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.4);
}
.ani{
    position: absolute;bottom:-30px;
    margin-left: 700px;
}




.tech{
    position: relative;
    display:grid;
    grid-template-columns: repeat(2,350px);
    grid-template-rows: repeat(1,313px);
    padding: 2px 200px;
    grid-gap:200px;
}
.tech2{
    position: absolute;bottom:100px;
    font-size: 40px;
    margin-left: 170px;
}
.hu{
    position: absolute;bottom:-100px;
    margin-left: 750px;
}





.js{
    position: relative;
}
.heading5{
    font-size: 35px;
    margin-left: 180px;
}
.html{
    position: absolute;bottom:-180px;
    margin-left: 200px;
    padding: 10px 20px;
    font-size: 45px;
    color:black;
    background: gainsboro;
    text-decoration: none;
    border-radius: 10px;
    height:110px;
}
.html:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.html1{
    position: absolute;bottom:-180px;
    margin-left: 350px;
    padding: 10px 20px;
    font-size: 45px;
    color:black;
    background: gainsboro;
    text-decoration: none;
    border-radius: 10px;
    height:110px;
}
.html1:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.html2{
    position: absolute;bottom:-180px;
    margin-left: 500px;
    padding: 10px 20px;
    font-size: 45px;
    color:black;
    background: gainsboro;
    text-decoration: none;
    border-radius: 10px;
    height:110px;
}
.html2:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.html3{
    position: absolute;bottom:-180px;
    margin-left: 650px;
    padding: 10px 20px;
    font-size: 45px;
    color:black;
    background: gainsboro;
    text-decoration: none;
    border-radius: 10px;
    height:110px;
}
.html3:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.html4{
    position: absolute;bottom: -180px;
    margin-left: 800px;
    padding: 10px 20px;
    font-size: 45px;
    color:black;
    background: gainsboro;
    text-decoration: none;
    border-radius: 10px;
    height:110px; 
}
.html4:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.html5{
    position: absolute;bottom:-180px;
    margin-left: 950px;
    padding: 10px 20px;
    font-size: 45px;
    color:black;
    background: gainsboro;
    text-decoration: none;
    border-radius: 10px;
    height:110px; 
}
.html5:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.as{
    position: absolute;bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-left: -55px;
}
.as1{
    position: absolute;bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-left: -45px;
}
.as2{
    position: absolute;bottom: 10px;
    font-size: 17px;
    font-weight: 800;
    margin-left: -60px;
}
.as3{
    position: absolute;bottom: 10px;
    font-size: 17px;
    font-weight: 800;
    margin-left: -48px;
}
.as4{
    position: absolute;bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-left: -43px;
}
.as5{
    position: absolute;bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-left: -55px;
}
.kush{
    position: absolute;bottom:20px;
    color:orange;
    font-weight: 700;
    margin-left: 950px;
}





.gggh{
    position: relative;
}
.cou{
    position: absolute;bottom:-550px;
    display:grid;
    grid-template-columns: repeat(2,350px);
    grid-template-rows: repeat(1,313px);
    padding: 2px 200px;
    grid-gap:200px;
    margin-left: -100px;
}
.heading9{
    position: absolute;bottom:300px;
    margin-left: 850px;
    font-weight: 800;
    font-size: 30px;
}
.book{
    position: absolute;bottom:220px;
    margin-left: 850px;
    font-size: 25px;
    background-color: gainsboro;
    padding: 8px 22px;
    border-radius: 12px;
    
}
.boo{
    font-weight: 800;
    font-size: 15px;
}
.book:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}



.jhu{
    position: absolute;bottom:120px;
    margin-left: 850px;
    font-size: 25px;
    background-color: gainsboro;
    padding: 8px 30px;
    border-radius: 12px;
    
}
.ufa{
    font-weight: 800;
    font-size: 15px;
}
.jhu:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}



.Your{
    position: absolute;bottom:20px;
    margin-left: 850px;
    font-size: 25px;
    background-color: gainsboro;
    padding: 8px 35px;
    border-radius: 12px;
    
}
.bom{
    font-weight: 800;
    font-size: 15px;
}
.Your:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
}
.animal{
    position: absolute;bottom:-50px;
    margin-left: 150px;
}






.oooooo{
   position: relative;
}
.gfab{
    position: absolute;bottom: -700px;
    width: 5000px;
    height:350px;
    background-color: gainsboro;
}
.ghy{
    position: absolute;bottom: 200px;
    margin-left: 500px;
    font-size: 35px;
}
.uioo{
    margin-left: 10px;
    color: teal;
}
.ghyu{
    position: absolute;bottom: 120px;
    margin-left: 460px;
    font-weight: 700;
}
.jjj{
    margin-left: 80px;
    color: teal;
}
.yo-yo{
    background-color: orange;
    color: white;
    padding:5px 32px;
    border-radius: 12px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;bottom:50px;
    margin-left: 580px;
}
.yo-yo:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
    color:teal;
}
.xyz{
    position: absolute;bottom: 230px;
    margin-left: 320px;
    border-radius: 100px;
    border: 7px solid teal;
}
.xyz1{
    position: absolute;bottom: 20px;
    margin-left: 320px;
    border-radius: 100px;
    border: 7px solid teal;
}
.xyz2{
    position: absolute;bottom: 120px;
    margin-left: 120px;
    border-radius: 100px;
    border: 7px solid teal;
}


.xyz3{
    position: absolute;bottom: 230px;
    margin-left: 880px;
    border-radius: 100px;
    border: 7px solid orange;
}
.xyz4{
    position: absolute;bottom: 20px;
    margin-left: 880px;
    border-radius: 100px;
    border: 7px solid orange;
}
.xyz5{
    position: absolute;bottom: 120px;
    margin-left: 1080px;
    border-radius: 100px;
    border: 7px solid orange;
}




.teacher{
    position: relative;bottom:2000px;
}
.teacho1{
    position: absolute;bottom:-1800px;
    font-weight: 800;
    margin-left: 200px;
}
.om10{
    position: absolute;bottom:-1890px;
    font-weight: 600;
    margin-left: 200px;
}
.son{
    text-decoration: none;
    position: absolute;bottom:-1950px;
    font-weight: 600;
    margin-left: 200px;
    color:white;
    background-color: orange;
    padding:8px 15px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
    border-radius: 6px;
}
.son:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	transition: all ease 0.5s;
    color:teal;
}
.buma{
    position: absolute;bottom:-2110px;
    margin-left: 700px;
}

.cont{
    position: absolute;bottom:-2200px;
    font-weight: 900;
    font-size: 35px;
    margin-left: 550px;
}
.bvc{
    position: absolute;bottom:-2300px;
    margin-left: 450px;
}
.xc{
    position: absolute;bottom:25px;
    width:200px;
	height:40px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
    border: 2px solid orange;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.xc input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:teal;
    margin-left: 10px;
}
.xcc{
    position: absolute;bottom:25px;
    margin-left: 230px;
    width:200px;
	height:40px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
    border: 2px solid orange;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.xcc input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:teal;
    margin-left: 10px;
}
.xccc{
    position: absolute;bottom:-40px;
    margin-left: 0px;
    width:430px;
	height:40px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
    border: 2px solid orange;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.xccc input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:teal;
    margin-left: 10px;   
}
.xcccc{
    position: absolute;bottom:-220px;
    margin-left: 0px;
    width:430px;
	height:150px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
    border: 2px solid orange;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.xcccc input{
    width:100%;
	background-color:transparent;
	border:none;
	outline: none;
	color:teal;
    margin-bottom: 100px;
    margin-left: 10px;
}



.xccccc{
    position: absolute;bottom:-2600px;
    margin-left: 470px;
    text-decoration: none;
    color:white;
    font-weight: 900;
    background-color: orange;
    padding:8px 15px;
    border-radius: 5px;
}
.xccccc:hover{
    background-color: whitesmoke;
    transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
    color:teal;
}




.footer{
    position: absolute;bottom:-3000px;
    width: 5000px;
    height:300px;
    background-color: gainsboro;
}
.qr-code{
    padding-left: 150px;
    color: black;
    padding-top:70px;
}
.span67{
    color:teal;
}
.qwerr{
    margin-left: 150px;
    color:black;
    font-weight: 700;
    font-size:15px

}
.wwwqer{
    color:black;
    margin-left: 550px;
    position: absolute;bottom:190px;
    font-size: 20px;
}
.qwerty{
    color:black;
    margin-left: 550px;
    font-weight: 700;
    position: absolute;bottom:80px;
}
.wwwqere{
    color:black;
    margin-left: 800px;
    position: absolute;bottom:190px;
    font-size: 20px;

}
.oplik{
    color:black;
    margin-left: 800px;
    position: absolute;bottom:80px;
    font-weight: 700;
}
.wwwqeree{
    color:black;
    margin-left: 1100px;
    position: absolute;bottom:190px;
    font-size: 20px;
    
}
.qwertgfd{
    font-weight: 700;
    color:black;
    margin-left: 1100px;
    position: absolute;bottom:130px;
}
.sdegfys{
    margin-left: 1100px;
    font-size: 30px;
    position: absolute;bottom:70px;
}
.qwerty:hover{
    color:orange;
}
.oplik:hover{
    color: orange;
}















